body {
	font-family: "Open Sans", arial;
	font-size: 15px;
	font-weight: light;
	line-height: 30px;
	color: #464646;
}

.h1, .h2 {
	font-family: "Gilroy", arial;
	font-size: 48px;
	font-weight: ExtraBold;
	line-height: auto;
	color: #000000;
}

.h1 {
	font-size: 48px;
}

.h2 {
	font-size: 47px;
}